### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [120]:
sum_schools = school_data_complete["school_name"].nunique()
#sum_schools

sum_students = school_data_complete["student_name"].count()
#sum_students

budget= school_data_complete["budget"].unique()
total_budget = budget.sum()
total_budget

avg_math_score = school_data_complete["math_score"].mean()
#avg_math_score

avg_reading_score = school_data_complete["reading_score"].mean()
#avg_reading_score

passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]["math_score"].count()
perc_passing_math = passing_math/sum_students*100
#perc_passing_math

passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]["reading_score"].count()
perc_passing_reading = passing_reading/sum_students*100
#perc_passing_reading

perc_student_passing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]/sum_students*100
#perc_student_passing

district_df = pd.DataFrame({"Total Schools": [sum_schools],
    "Total Students": [sum_students],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_math_score],
    "Average Math Score": [avg_reading_score],
    "% Passing Reading":[perc_passing_math],
    "% Passing Math": [perc_passing_reading],
    "Overall Passing Rate": [perc_student_passing]})
#district_df

#Get it on with the formatting 
district_df["Total Schools"]= district_df["Total Schools"].map("{:.2f}".format)
district_df["Total Students"]= district_df["Total Students"].map("{:.0f}".format) 
district_df["Total Budget"]= district_df["Total Budget"].map("${:.0f}".format) 
district_df["Average Reading Score"]= district_df["Average Reading Score"].map("{:.1f}".format) 
district_df["Average Math Score"]= district_df["Average Math Score"].map("{:.1f}".format) 
district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:.1f}%".format)
district_df["% Passing Math"] = district_df["% Passing Math"].map("{:.1f}%".format)
district_df["Overall Passing Rate"] = district_df["Overall Passing Rate"].map("{:.1f}%".format)
district_df

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15.00,39170,$24649428,79.0,81.9,75.0%,85.8%,65.2%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [189]:
school_group = school_data_complete.set_index("school_name").groupby(["school_name"])
#school_group

school_type = school_data.set_index("school_name")["type"]
#school_type

students_by_school = school_group["Student ID"].count()
#students_by_school

school_budget = school_data.set_index("school_name")["budget"]
#school_budget

student_budget = school_budget/students_by_school
#student_budget

student_math_score = school_group["math_score"].mean()
#student_math_score

student_reading_score = school_group["reading_score"].mean()
#student_reading_score


##Copied from previous section##

# passing scores

stu_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_by_school*100
#stu_passing_math


stu_passing_math = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_by_school*100
#stu_passing_reading



reading_count = school_data_complete[school_data_complete["reading_score"] >= 0].groupby("school_name")["Student ID"].count()
#reading_count

count_passing_math = school_data_complete[school_data_complete["math_score"] >= 0].groupby("school_name")["Student ID"].count()
#count_passing_math

math_count = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
#math_count

total_test_count = math_count + reading_count
total_test_count

count_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
#count_passing_reading


#### I am aware that this is the wrong calculation... could not figure out how to set it up the correct way :/
total_passing = stu_passing_math + stu_passing_math/total_test_count
#total_passing


school_summary = pd.DataFrame({"School Type":school_type,
                              "Total Students":students_by_school,
                              "Total Budget":school_budget,
                              "Per Student Budget":student_budget,
                              "Avg Math Score":student_math_score, 
                              "Avg Reading Score":student_reading_score,
                              "% Passing Math":stu_passing_math,
                              "% Passing Reading":stu_passing_reading,
                              "% Overall Passing":total_passing})

school_summary
school_summary["School Type"]
school_summary["Total Students"]= school_summary["Total Students"].map("{:.0f}".format) 
school_summary["Total Budget"]= school_summary["Total Budget"].map("${:.2f}".format) 
school_summary["Per Student Budget"]= school_summary["Per Student Budget"].map("${:.2f}".format) 
school_summary["Avg Math Score"]= school_summary["Avg Math Score"].map("{:.1f}".format) 
school_summary["Avg Reading Score"]= school_summary["Avg Reading Score"].map("{:.1f}".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:.1f}%".format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map("{:.1f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:.1f}%".format)

school_summary

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,$3124928.00,$628.00,77.0,81.0,81.9%,81.9%,81.9%
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.1,84.0,97.0%,97.0%,97.1%
Figueroa High School,District,2949,$1884411.00,$639.00,76.7,81.2,80.7%,80.7%,80.8%
Ford High School,District,2739,$1763916.00,$644.00,77.1,80.7,79.3%,79.3%,79.3%
Griffin High School,Charter,1468,$917500.00,$625.00,83.4,83.8,97.1%,97.1%,97.2%
Hernandez High School,District,4635,$3022020.00,$652.00,77.3,80.9,80.9%,80.9%,80.9%
Holden High School,Charter,427,$248087.00,$581.00,83.8,83.8,96.3%,96.3%,96.4%
Huang High School,District,2917,$1910635.00,$655.00,76.6,81.2,81.3%,81.3%,81.3%
Johnson High School,District,4761,$3094650.00,$650.00,77.1,81.0,81.2%,81.2%,81.2%
Pena High School,Charter,962,$585858.00,$609.00,83.8,84.0,95.9%,95.9%,96.0%
Rodriguez High School,District,3999,$2547363.00,$637.00,76.8,80.7,80.2%,80.2%,80.2%
Shelton High School,Charter,1761,$1056600.00,$600.00,83.4,83.7,95.9%,95.9%,95.9%
Thomas High School,Charter,1635,$1043130.00,$638.00,83.4,83.8,97.3%,97.3%,97.3%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.3,84.0,96.5%,96.5%,96.6%
Wright High School,Charter,1800,$1049400.00,$583.00,83.7,84.0,96.6%,96.6%,96.6%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [199]:
school_summary = school_summary.sort_values("% Overall Passing", ascending=False)

school_summary.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Thomas High School,Charter,1635,$1043130.00,$638.00,83.4,83.8,97.3%,97.3%,97.3%
Griffin High School,Charter,1468,$917500.00,$625.00,83.4,83.8,97.1%,97.1%,97.2%
Cabrera High School,Charter,1858,$1081356.00,$582.00,83.1,84.0,97.0%,97.0%,97.1%
Wilson High School,Charter,2283,$1319574.00,$578.00,83.3,84.0,96.5%,96.5%,96.6%
Wright High School,Charter,1800,$1049400.00,$583.00,83.7,84.0,96.6%,96.6%,96.6%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [200]:
school_summary = school_summary.sort_values("% Overall Passing", ascending=True)

school_summary.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Ford High School,District,2739,$1763916.00,$644.00,77.1,80.7,79.3%,79.3%,79.3%
Rodriguez High School,District,3999,$2547363.00,$637.00,76.8,80.7,80.2%,80.2%,80.2%
Figueroa High School,District,2949,$1884411.00,$639.00,76.7,81.2,80.7%,80.7%,80.8%
Hernandez High School,District,4635,$3022020.00,$652.00,77.3,80.9,80.9%,80.9%,80.9%
Johnson High School,District,4761,$3094650.00,$650.00,77.1,81.0,81.2%,81.2%,81.2%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [242]:
#school_group

grade9 = student_data[student_data["grade"] == "9th"].groupby("school_name")["math_score"].mean()
#grade9

grade10 = student_data[student_data["grade"] == "10th"].groupby("school_name")["math_score"].mean()
#grade10

grade11 = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
#grade11

grade12 = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()
#grade12

math_summary = pd.DataFrame({"9th":grade9, "10th":grade10, "11th":grade11, "12th":grade12})

#math_summary

math_summary["9th"] = math_summary["9th"].map("{:.1f}%".format)
math_summary["10th"] = math_summary["10th"].map("{:.1f}%".format)
math_summary["11th"] = math_summary["11th"].map("{:.1f}%".format)
math_summary["12th"] = math_summary["12th"].map("{:.1f}%".format)

math_summary

                         9th   10th   11th   12th
school_name
Bailey High School     77.1%  77.0%  77.5%  76.5%
Cabrera High School    83.1%  83.2%  82.8%  83.3%
Figueroa High School   76.4%  76.5%  76.9%  77.2%
Ford High School       77.4%  77.7%  76.9%  76.2%
Griffin High School    82.0%  84.2%  83.8%  83.4%
Hernandez High School  77.4%  77.3%  77.1%  77.2%
Holden High School     83.8%  83.4%  85.0%  82.9%
Huang High School      77.0%  75.9%  76.4%  77.2%
Johnson High School    77.2%  76.7%  77.5%  76.9%
Pena High School       83.6%  83.4%  84.3%  84.1%
Rodriguez High School  76.9%  76.6%  76.4%  77.7%
Shelton High School    83.4%  82.9%  83.4%  83.8%
Thomas High School     83.6%  83.1%  83.5%  83.5%
Wilson High School     83.1%  83.7%  83.2%  83.0%
Wright High School     83.3%  84.0%  83.8%  83.6%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [245]:
grade_9 = school_data_complete.loc[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
#grade9

grade_10 = school_data_complete.loc[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
#grade10

grade_11 = school_data_complete.loc[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
#grade11

grade_12 = school_data_complete.loc[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()
#grade12

reading_summary = pd.DataFrame({"9th":grade_9, "10th":grade_10, "11th":grade_11, "12th":grade_12})

#reading_summary

reading_summary["9th"] = reading_summary["9th"].map("{:.1f}%".format)
reading_summary["10th"] = reading_summary["10th"].map("{:.1f}%".format)
reading_summary["11th"] = reading_summary["11th"].map("{:.1f}%".format)
reading_summary["12th"] = reading_summary["12th"].map("{:.1f}%".format)

reading_summary

                         9th   10th   11th   12th
school_name
Bailey High School     81.3%  80.9%  80.9%  80.9%
Cabrera High School    83.7%  84.3%  83.8%  84.3%
Figueroa High School   81.2%  81.4%  80.6%  81.4%
Ford High School       80.6%  81.3%  80.4%  80.7%
Griffin High School    83.4%  83.7%  84.3%  84.0%
Hernandez High School  80.9%  80.7%  81.4%  80.9%
Holden High School     83.7%  83.3%  83.8%  84.7%
Huang High School      81.3%  81.5%  81.4%  80.3%
Johnson High School    81.3%  80.8%  80.6%  81.2%
Pena High School       83.8%  83.6%  84.3%  84.6%
Rodriguez High School  81.0%  80.6%  80.9%  80.4%
Shelton High School    84.1%  83.4%  84.4%  82.8%
Thomas High School     83.7%  84.3%  83.6%  83.8%
Wilson High School     83.9%  84.0%  83.8%  84.3%
Wright High School     83.8%  83.8%  84.2%  84.1%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [263]:
spend_bins = [0, 584.999, 614.999, 644.999, 999999]
bin_names = ["< $585", "$585 - 614", "$615 - 644", "> $644"]

school_data_complete["spend_bins"] = pd.cut(school_data_complete["size"], spend_bins, labels = bin_names)

spend_info = school_data_complete.groupby("spend_bins")

##########################################################

avg_math = spend_info["math_score"].mean()
avg_read = spend_info["reading_score"].mean()
pass_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("spend_bins")["Student ID"].count()/spend_info["Student ID"].count()*100
pass_read = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("spend_bins")["Student ID"].count()/spend_info["Student ID"].count()*100
overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby("spend_bins")["Student ID"].count()/spend_info["Student ID"].count()*100

########################################################## 
    
spend_scores = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "Overall Passing Rate": overall})

##
    
spend_scores["Average Math Score"] = spend_scores["Average Math Score"].map("{:.1f}%".format)
spend_scores["Average Reading Score"] = spend_scores["Average Reading Score"].map("{:.1f}%".format)
spend_scores["% Passing Math"] = spend_scores["% Passing Math"].map("{:.1f}%".format)
spend_scores["% Passing Reading"] = spend_scores["% Passing Reading"].map("{:.1f}%".format)             
spend_scores["Overall Passing Rate"] = spend_scores["Overall Passing Rate"].map("{:.1f}%".format)              

spend_scores

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spend_bins,,,,,
< $585,83.8%,83.8%,92.5%,96.3%,89.2%
$585 - 614,nan%,nan%,nan%,nan%,nan%
$615 - 644,nan%,nan%,nan%,nan%,nan%
> $644,78.9%,81.9%,74.8%,85.7%,64.9%

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208